.main-container {
    display: flex; 
    justify-content: center; 
    gap: 30px;
    align-items: flex-start; 
}

.calculadora-area {
    /* Define a largura da calculadora */
    flex-basis: 350px; /* Largura fixa, por exemplo */
    /* Outros estilos de fundo e sombra da calculadora */
}

.historico-area {
    flex-grow: 1;
    width: 300px;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #333;
    color: white;
}



body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
    background-color: #342220;
}

.calculadora h1 {
    color: #ff5733;
    margin-top: 0;
    margin-bottom: 15px;
    border-bottom: 2px solid #ff5733;
    padding-bottom: 5px;
    font-family: 'Courier New', monospace; 
}

.calculadora{
    background-color: #ffdeb3;
    width: 350px;
    border-radius: 10px;
    padding: 20px;
}

#display{
    width: 100%;
    box-sizing: border-box;
    height: 60px;
    border: none;
    border-radius: 6px;
    text-align: right;
    font-size: 25px;
    margin-bottom: 18px;
}

.box-buttons{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 1.5px;
}

button{
    border: none;
    height: 60px;
    border-radius: 6px;
    font-size: 20px;
    background-color: #ffefd9;
}

button:hover{
    background-color: #ff8716;
    cursor: pointer;
    transition: .5s;
}

.resultado:hover{
    background-color: #73bc91;
    cursor: pointer;
    transition: .5s;
}

.historico-container {
    background-color: rgba(243, 220, 192, 0.4); 
    width: 350px;
    border-radius: 10px;
    padding: 20px;
    color: #f3dcc0; 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
    font-size: 15px; 
}

.historico-container h2 {
    color: #ff5733; 
    margin-top: 0;
    margin-bottom: 15px;
    border-bottom: 2px solid #ff5733; 
    padding-bottom: 5px;
    text-align: left; 
}

.historico-container ul {
    list-style: none;
    padding: 0; 
    margin: 0;
}

.historico-container li {
    text-align: center; 
    border-bottom: 1px solid rgba(243, 220, 192, 0.1); 
    padding: 8px 0;
    font-size: 0.9em; 
}

.historico-container li:last-child {
    border-bottom: none;
}

.historico-container li:nth-child(odd) {
    background-color: rgba(0, 0, 0, 0.05); 
    padding-right: 5px;
    padding-left: 5px;
    margin-left: -5px;
}